body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

li {
  margin-top: 20px;
}

.CharactersList_wrapper {
  color: gold;
  font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
  font-size: 20px
}